<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590915919372-ul0lufuu8sotakincrvoimjnob120du5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590915919372-ul0lufuu8sotakincrvoimjnob120du5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>590915919372-o59frki6bce0j1f3ec98i8vkqjct8nhq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADbcaQTsgNQlFR0pGIULDrJZnF2ZgS9eA</string>
	<key>GCM_SENDER_ID</key>
	<string>590915919372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proj</string>
	<key>PROJECT_ID</key>
	<string>alqassimcars-ba338</string>
	<key>STORAGE_BUCKET</key>
	<string>alqassimcars-ba338.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590915919372:ios:92c557ca79b95e954e1829</string>
</dict>
</plist>